# Below is a list of Cacioepepe team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

functions/userFunctions/* @rishabnayak @jinyoungbang
functions/adminFunctions/* @jinyoungbang
functions/applicationFunctions/* @jinyoungbang
functions/index.js @rishabnayak
firestore.rules @rishabnayak
src/* @rishabnayak
