# Below is a list of Synergy team members who are suggested reviewers
# for contributions to plugins in this repository.
#
# These names are just suggestions. It is fine to have your changes
# reviewed by someone else.

functions/userFunctions/* @rishabnayak
functions/index.js @rishabnayak
firestore.rules @rishabnayak
src/* @rishabnayak
