rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {	
		function sameUID(uid) {
			return uid == request.auth.uid;
		}
		function isLoggedIn() {
			return request.auth != null;
		}
		function hasRole(role) {
			return (isLoggedIn() && (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == role);
		}
		function notUpdating(field) {
			return !(field in request.resource.data) || (resource.data[field] == request.resource.data[field]);
		}
		
		function invalidUserUpdate() {
			return (notUpdating("apple_pass_url") && notUpdating("google_qr_url") && notUpdating("role") && notUpdating("uid"));
		}
		
		match /users/{userId} {
			allow get: if hasRole("admin") || hasRole("sponsor") || sameUID(userId);
			allow list: if hasRole("admin") || hasRole("sponsor");
			allow create: if hasRole("admin") || (isLoggedIn() && sameUID(userId));
			allow update: if hasRole("admin") || (isLoggedIn() && sameUID(userId) && invalidUserUpdate());
			allow delete: if hasRole("admin");
		}
		
		match /volunteers/{voldId} {
			allow list: if hasRole("admin");
			allow get: if hasRole("admin") || (isLoggedIn() && sameUID(userId));
			allow create: if hasRole("admin") || (isLoggedIn() && sameUID(userId));
			allow update: if hasRole("admin") || (isLoggedIn() && sameUID(userId));
			allow delete: if hasRole("admin");
		}
		
		match /teams/{teamId}{
			allow get: if false;
			allow list: if false;
			allow create: if false;
			allow update: if false;
			allow delete: if isAdmin();
		}
		
		match /applications/{appId} {
			allow get: if hasRole("admin") || sameUID(userId);
			allow list: if hasRole("admin") || hasRole("sponsor");
			allow create: if hasRole("admin") || (isLoggedIn() && sameUID(userId));
			allow update: if hasRole("admin") || (isLoggedIn() && sameUID(userId) && notUpdating("uid"));
			allow delete: if hasRole("admin");
		}
		
		match /admin/{docId} {
			allow read: if true;
			allow write: if hasRole("admin");
		}
		
  }
}